[Unit]
Description=Karaoke Time

[Service]
User=karaoke-time
TimeoutStartSec=5min
Environment=RAILS_ENV=production
WorkingDirectory=/var/lib/karaoke
ExecStartPre=/bin/rm -f /var/lib/karaoke/tmp/pids/server.pid
ExecStart=/var/lib/karaoke/bin/rails server
ExecStartPost=/var/lib/karaoke/bin/rails r "YtDlpManager.update_binary"

[Install]
WantedBy=multi-user.target
