Source: karaoke-time
Section: web
Priority: optional
Maintainer: Nathan Palmer <nathan@10000hammers.com>
Build-Depends: ruby-dev, build-essential
Standards-Version: 3.9.6
Homepage: https://github.com/ten-thousand-hammers/karaoke-time
Package: karaoke-time
Version: 0.1.2
Architecture: arm64
Depends: ruby (= 1:3.1), ruby-dev(= 1:3.1), libyaml-dev, redis, chromium-browser
Description: Karaoke Time
  Karaoke Time is a web application that allows users to search for and
  queue up songs to be played in a karaoke environment. It is built on
  Ruby on Rails and uses a SQlite database.
