<div data-controller="splash">
  <div data-splash-target="permissions" class="h-screen w-screen">
    <div class="absolute flex items-center h-screen p-20">
      <p class="text-white text-center text-xl">
        Due to limititations with browser permissions, you must interact with the page once before it allows autoplay of videos. Karaoke Time will not play otherwise. Click the button below to <a data-action="click->splash#acceptPermissions" href="javascript:" class="underlined text-green-500">confirm</a>.
        <br/>
        <button
          class="mt-4 rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
          data-action="click->splash#acceptPermissions"
        >Confirm</button>
      </p>
    </div>
    <div class="bg-black h-screen w-screen"></div>
  </div>
  <video data-splash-target="video" autoplay controls class="hidden h-screen w-screen">
    <source id="video-source" type="video/mp4" src="" />
  </video>
</div>
