<%= turbo_frame_tag "now_playing", class: "#{performance.now_playing_song.present? ? '' : 'hidden'} absolute w-full z-10", data: { splash_target: "top" } do %>
  <div id="now-playing" class="p-4 text-right text-xl">
    <p id="now-playing-song" 
        data-splash-target="title" 
        class="text-white" 
        style="margin-bottom: 5px"><%= performance.now_playing_song&.name %></p>
    <div class="text-green-500">
      <i class="fa-solid fa-microphone" title="Current singer"></i>&nbsp;
      <span id="now-playing-singer" 
            data-splash-target="singer"><%= performance.now_playing_user&.nickname %></span>
    </div>
  </div>
<% end %>