<%# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% unless current_page.last? %>
  <%= link_to url, remote: remote, rel: 'last', class: "relative inline-flex items-center rounded-r-md px-6 py-6 text-blue-400 ring-1 ring-inset ring-blue-300 hover:bg-blue-50 focus:z-20 focus:outline-offset-0" do %>
  <span class="sr-only"><%= t('views.pagination.last').html_safe %></span>
  <i class="fa-solid fa-angles-right"></i>
  <% end %>
<% end %>
